body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hidden {
  display: none;
}

img {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
}

.main {
  position: absolute;
  top: 35%;
  text-align: center;
}

.clock {
  font-size: 150px;
  margin: 0;
}

.greeting {
  font-size: 50px;
  margin: 0;
}

.quote {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote__text {
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.quote__author {
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.quote:hover .quote__text {
  transform: translateY(-10px);
}

.quote:hover .quote__author {
  transform: translateY(-10px);
  opacity: 0.8;
}

input:focus {
  outline: none;
}

.todo-form {
  position: absolute;
  bottom: 30%;
  width: 20%;
  margin-top: 50px;
}

.todo-form__input {
  border: none;
  background-color: inherit;
  border-bottom: 1px solid white;
  text-align: center;
  color: white;
  width: 100%;
  font-size: 30px;
  padding: 10px 0;
}

.todo-form__input::placeholder {
  color: white;
  text-align: center;
}

li {
  list-style: none;
}

.todo-list {
  position: absolute;
  top: 70%;
  font-size: 30px;
}

.todo-list li {
  display: flex;
  align-items: center;
}

.todo-list span {
  list-style: none;
  margin-right: 10px;
}

.todo-list button {
  border: none;
  background-color: inherit;
  font-size: 20px;
  cursor: pointer;
}
